<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSNext.Properties.Settings.NextConnectionString" connectionString="Data Source=|DataDirectory|\Next.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>